h1 {
  font-family: 'Paytone One';
  font-size: 60px;
  color: #fff;
  margin-top: 280px;
  text-align: left; }

.lastDot {
  color: #ff9100; }

h2 {
  font-family: 'Paytone One';
  color: #fff;
  font-size: 30px;
  margin-bottom: 40px; }

.contL {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center; }

a {
  color: #fff;
  text-decoration: none;
  font-size: 40px; }

a:hover {
  color: #fff;
  text-decoration: none; }

a:focus {
  color: #fff;
  text-decoration: none; }

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
    margin-top: 60px; } }
