.intro {
  padding-top: 300px; }

.intro h1 {
  font-family: 'Paytone One';
  color: #fff;
  font-size: 60px; }

.lasttlt .word2 .char10 {
  color: #CD0059; }

.intro p {
  font-family: 'Open Sans';
  color: #8d8d8d;
  font-size: 14px;
  letter-spacing: 3px; }

.logo {
  display: inline-block;
  font-size: 300px !important;
  position: relative; }

.pink {
  position: absolute;
  color: #fc0b56 !important;
  right: 25px;
  top: 10px;
  z-index: 2;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
  line-height: 180px;
  margin: auto;
  -webkit-animation: animpink 10s infinite linear;
          animation: animpink 10s infinite linear; }

.blue {
  position: absolute;
  color: #08fdd8 !important;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
  right: 20px;
  top: 5px;
  z-index: 1;
  line-height: 180px;
  margin: auto; }

.contactBtn {
  background-color: inherit;
  border: 2px solid #CD0059;
  color: #CD0059;
  padding: 5px 20px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 16px;
  font-family: 'Open Sans';
  margin-top: 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.contactBtn:hover {
  background-color: #CD0059;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

@media (max-width: 768px) {
  .intro {
    padding-top: 60px; }
  .intro h1 {
    font-size: 50px; } }
