@import url("https://fonts.googleapis.com/css?family=Open+Sans|Paytone+One");
body {
  margin: 0;
  padding: 0;
  background: url(../img/ep_naturalblack.png); }

.centered {
  text-align: center; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

a:focus {
  text-decoration: none; }

button:focus {
  outline: none; }

img {
  max-width: 100%;
  max-height: 100%; }

@-webkit-keyframes animpink {
  0% {
    color: #fc0b56; }
  10% {
    color: #c5056c; }
  20% {
    color: #da0058; }
  30% {
    color: #af0052; }
  40% {
    color: #8b004b; }
  50% {
    color: #eb0059; }
  60% {
    color: #ef0071; }
  70% {
    color: #eb0059; }
  80% {
    color: #da0058; }
  90% {
    color: #c5056c; }
  100% {
    color: #fc0b56; } }

@keyframes animpink {
  0% {
    color: #fc0b56; }
  10% {
    color: #c5056c; }
  20% {
    color: #da0058; }
  30% {
    color: #af0052; }
  40% {
    color: #8b004b; }
  50% {
    color: #eb0059; }
  60% {
    color: #ef0071; }
  70% {
    color: #eb0059; }
  80% {
    color: #da0058; }
  90% {
    color: #c5056c; }
  100% {
    color: #fc0b56; } }

.item {
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.nav {
  background-color: #171717;
  height: 70px; }

.list-inline {
  padding-top: 25px; }

.list-inline a {
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans';
  color: #8d8d8d;
  letter-spacing: 3px; }

.list-inline a:hover {
  -webkit-animation: animpink 10s infinite linear;
          animation: animpink 10s infinite linear; }

.list-inline li.active a {
  -webkit-animation: animpink 10s infinite linear;
          animation: animpink 10s infinite linear; }

.list-inline li:first-child {
  margin-left: 0; }

.list-inline li {
  margin-left: 35px; }

@media (max-width: 600px) {
  .list-inline li {
    margin-left: 5px; }
  .list-inline a {
    font-size: 12px;
    letter-spacing: 0px; } }
