@font-face{
    font-family: GothamReg;
    src: url(GothamReg.otf);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: GothamReg, sans-serif;
}

a{
    position: relative;
    color: #ffffff;
}

a:before{
    content: '';
    position: absolute;
    transition: transform .5s ease-in-out;
}

a:focus{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    text-decoration: none;
}


.preloader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #36c19d 0%, #ecbaff 100%);
    background-size: 400%;
    animation: logo-bg-anim 20s ease infinite;
    z-index: 5;
    transform: rotate(0deg);
}

.preloader h1{
    font-size: 200px;
    opacity: 0.3;
    line-height: 20px;
}

.loader{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    animation: preloader1 1.5s ease infinite;
    /* border: 1px solid #877D5F; */
}

@keyframes preloader1{
    0%,100%{
        transform: scale(1);
    }
    80%{
        transform: scale(0.9);
    }
}

.loader2{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.2);
    animation: preloader1 2s ease 0.5s infinite;
    /* border: 1px solid #877D5F; */
}

.loader3{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.2);
    animation: preloader2 2s ease infinite;
    /* border: 1px solid #877D5F; */
}

.dot{
    position: absolute;
    width: 2px;
    height: 10px;
    top: 15px;
    background-color: #877D5F;
}

@keyframes preloader2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.done{
    transform: translateY(-100%);
    transition: .8s;
    visibility: hidden;
    opacity: 0;
}

.main{
    height: 2000px;
    background-color: #222338;
    background-attachment: fixed;
}

.socials{
    letter-spacing: 1px;
    bottom: 5%;
    left: 3%;
    position: fixed;
    background-color: inherit;
    height: 40px;
    width: 200px;
    /* transform: rotate(-90deg); */
}

.socials a{
    z-index: 2;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
}

.socials a:before{
    z-index: -1;
    transition: .5s ease-in-out;
    top: -10px;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(120deg, #36c19d 0%, #ecbaff 100%);
    transform: translateY(-100%);
    /* display: none; */
    visibility: hidden;
    opacity: 0;
}

.socials a:hover:before{
    visibility: visible;
    opacity: 1;
    z-index: -1;
    /* display: block; */
    transform: translateY(0%);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 35px;
    z-index: 0;
}

.logo-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(120deg, #36c19d 0%, #ecbaff 100%);
    background-size: 200%;
    animation: logo-bg-anim 10s ease infinite;
}

.logo{
    /* background-color: #A149B9; */
    /* background-image: linear-gradient(120deg, #f5576c 0%, #f093fb 100%); */
    padding-left: 11px;
    padding-top: 10px;
    width: 170px;
    height: 170px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2px;
    transform: translateX(-300px);
    transition-duration: .5s;
    transition-timing-function: ease;
    box-shadow: 7px 4px 149px 2px rgba(0,0,0,0.75);
}

@keyframes logo-bg-anim { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.logo-anim{
    transition-duration: .5s;
    transition-timing-function: ease;
    animation: logo-anim 1s ease 1 forwards;
}

@keyframes logo-anim{
    0%{
        transform: translateX(-300px);
    }
    60%{
        transform: translateX(10px);
    }
    80%{
        transform: translateX(-3px);
    }
    100%{
        transform: translateX(0);
    }
}

.menu{
    width: 70%;
    padding-top: 15px;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
}

.menu ul li{
    margin-left: 40px;
}

.menu ul a{
    display: inline-block;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    letter-spacing: 1px;
}

.menu ul li a:before{
    left: -1px;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(120deg, #36c19d 0%, #ecbaff 100%);
    transform: translateX(-100%);
}

.menu ul li a:hover:before{
    transform: translateX(0%);
}

.content{
    padding-top: 150px;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.block1{
    padding: 40px;
    box-shadow: 7px 4px 149px 2px rgba(0,0,0,0.75);
    color: #ffffff; 
    height: 300px;
    background-image: linear-gradient(120deg, #36c19d 0%, #ecbaff 100%);
}

@media (max-width: 668px) and (min-width: 350px){
    .menu{
        display: none;
    }
    .block1{
        height: 400px;
    }
    .socials{
        display: none;
    }
}

@media (min-width: 1000px) and (max-width: 1200px){
    .block1{
        height: 400px;
    }
}

@media (max-width: 349px){
    .menu{
        display: none;
    }
    .block1{
        height: 550px;
    }
    .socials{
        display: none;
    }
}