@import url('https://fonts.googleapis.com/css?family=Dosis');
@font-face{
  font-family: futuralightc;
  src: url(../fonts/futuralightc.otf);
}

a{
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

a:hover{
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: 0.5s;
}

ul{
  list-style: none;
}

p{
  font-family: 'Dosis';
  font-size: 20px;
}

.centered{
  text-align: center;
}

.head-block{
  background: url(../img/hero-bg.jpg) 0 0 no-repeat;
  background-size: 100%;
  -webkit-background-size: 100%;
}

.brand{
  padding-top: 300px;
  padding-bottom: 300px;
}

.brand h1{
  font-family: futuralightc;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: bold;
  border: 4px solid black;
  width: 30vh;
  margin: auto;
  font-size: 50px;
}

.mobileLogo{
  width: 35vh!important;
  font-size: 32px!important;
}

.cgr{
  background: #f2f0f0;
}

.aboutme{
  padding-top: 55px;
  padding-bottom: 55px;
}

.aboutme h2{
  font-family: futuralightc;
  font-size: 35px;
  text-transform: capitalize;
}

.ocean{
  background: url(../img/ocean1.jpg) 0 0 no-repeat;
  background-size: 100%;
  -webkit-background-size: 100%;
}

.rowbl{
  background: rgba(0,0,0,.5);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.ttlskills{
  padding-top: 30px;
  padding-bottom: 30px;
}

/*.ttlskills:first-child .circles{
  padding-top: 32px;
}*/

.circles{
  padding-top: 35px;
  font-size: 40px;
  display: block;
  background: #38465c;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  color: #fff;
  transition: 0.8s;
}

.circles:hover{
  background: #fff;
  color: #38465c;
  transition: 0.8s;
}

.ttlskills h4{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: futuralightc;
  font-weight: bold;
  font-size: 23px;
  color: #fff;
}

.ttlskills p{
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 23px;
}

.greenline{
  display: block;
  width: 10px;
  height: 4px;
  color: purple;
}

.placeit{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.placeit img{
  width: 80%;
  height: 80%;
}

.mockup .col-xs-12 img{
  width: 100%;
  height: 100%;
}

.bootstrap{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.bootstrap h4{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: futuralightc;
  font-weight: bold;
  font-size: 23px;
}

.mockup{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.bootstrap span{
  padding-top: 33px;
  font-size: 40px;
  display: block;
  background: #38465c;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  color: #fff;
  transition: 0.8s;
}

.skills{
  background: url(../img/skillsbg.jpg) 0 0 no-repeat;
  background-size: 100%;
  -webkit-background-size: 100%;
  /*height: 500px;*/
}

.skills h2{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: futuralightc;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
  padding-top: 200px;padding-bottom: 10px;
}

.skills span{
  display: block;
  font-size: 30px;
  color: #fff;
  padding-bottom: 150px;
}

.rowbl1{
  background: rgba(0,0,0,.5);
}
