.centered{
  text-align: center;
}

.TermsHead{
  background: #454954;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}

.TermsHead h2{
  font-size: 25px;
  margin: 0;
}

.mainTerm p{
  font-size: 15px;
}

footer{
  background: #454954;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}
