@font-face {
  font-family: 'MyriadProBold';
  src:url(../fonts/MyriadProBold.ttf);
}

@font-face {
  font-family: 'MyriadProReg';
  src:url(../fonts/MyriadProRegular.ttf);
}

@font-face {
  font-family: 'GothamReg';
  src:url(../fonts/GothamReg.otf);
}
