@media (max-width: 576px) {
  .section1{
    padding-bottom: 70px!important;
    .content1{
      padding-top: 70px!important;
    }
    .form{
      input{
        margin-top: 15px!important;
        margin-bottom: 15px!important;
        width: 100%!important;
      }
    }
  }

  .section2{
    p{
      font-size: 0.8em;
    }
  }

  .section3{
    padding-bottom: 70px!important;
    padding-top: 70px!important;
    .form{
      input{
        margin-top: 15px!important;
        margin-bottom: 15px!important;
        width: 100%!important;
      }
    }
    .waits{
      border-top: 1px dashed #fff;
      border-left: 0!important;
    }
  }

  .head{
    margin-bottom: 30px;
  }

  .photo{
    width: 290px!important;
    height: 290px!important;
  }

  .section6{
    h1{
      font-size: 1.3em;
    }
    h3{
      font-size: 1.1em;
    }
    p{
      font-size: 0.8em;
    }
  }
}

@media(min-width: 576px) and (max-width: 768px){
  .section1{
    padding-bottom: 90px!important;
    .content1{
      padding-top: 90px!important;
    }
    .form{
      input{
        margin-top: 15px!important;
        margin-bottom: 15px!important;
        width: 100%!important;
      }
    }
  }

  .section3{
    .form{
      input{
        margin-top: 15px!important;
        margin-bottom: 15px!important;
        width: 100%!important;
      }
    }
    .waits{
      border-top: 1px dashed #fff;
      border-left: 0!important;
    }
  }

  .head{
    margin-bottom: 30px;
  }

}

@media(min-width: 768px) and (max-width: 991px){
  .section1{
    padding-bottom: 130px!important;
    .content1{
      padding-top: 130px!important;
    }
  }

  .section3{
    .form{
      input{
        margin-top: 15px!important;
        margin-bottom: 15px!important;
        width: 100%!important;
      }
    }
    .waits{
      border-top: 1px dashed #fff;
      border-left: 0!important;
    }
  }

  .head{
    margin-bottom: 30px;
  }

  .form{
    input{
      font-size: 0.9em!important;
    }
  }
}

@media (max-width: 1212px){
  .phrases{
    display: none;
  }
}
