.section4{
  padding-top: 100px;
  padding-bottom: 100px;

  h2{
    font-family: 'GothamReg';
    margin-bottom: 50px;
  }

  .img1{
    border-radius: 50%;
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url(../img/sect4.jpg);
    background-size: cover;
    background-position: center center;
    margin-bottom: 30px;
  }

  p{
    font-family: 'GothamReg';
  }
}
