@import "fonts";
@import "media";
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "section5";
@import "section6";

html{
  margin: 0;
  padding: 0;
}

.centered{
  text-align: center;
}

nav{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0,0,0,.3);
  ul{
    padding: 0;
    margin: 0;
  }
  a{
    font-family: 'GothamReg';
    color: #fff;
    &:hover{
      text-decoration: none;
      color: #fff;
    }
  }
}
