<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#e51c23">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Заметки</title>
</head>
<body>
  <div id="app">
    <header>
      <button @click="show = !show">
        <i class="ion-navicon"></i>
      </button>
      <input type="text" class="header-search" v-model="search" onfocus="placeholder='';">
      <i class="ion-android-search header-search-logo"></i>
      <aside v-if="show" transition="slide">
        <input class="aside-search" type="text" v-model="search" placeholder="Поиск..." onfocus="placeholder='';">
      </aside>
    </header>
    <div class="note-create">
      <h1>Название</h1>
      <input type="text" v-model="newNote.title">
      <h1>Текст</h1>
      <input type="text" v-model="newNote.content" v-on:keyup.enter="addNote">
      <button @click="addNote"><i class="ion-android-done"></i></button>
    </div>
    <div class="note-wrap" v-for="te in notes | filterBy search | orderBy 'date' -1">
      <h1 class="note-title" v-if="te.default">{{te.title}}</h1>
      <input type="text" v-model="te.title" v-if="te.default == false" class="editTitle">
      <button class="edit" @click="editNote(te)" v-if="te.default"><i class="ion-android-create"></i></button>
      <button class="delete" @click="deleteNote(te)"><i class="ion-android-delete"></i></button>
      <hr v-if="te.default">
      <textarea v-model="te.content" v-if="te.default == false" class="editContent"></textarea>
      <p class="note-content" v-if="te.default">{{te.content}}</p>
      <button class="editConfirm" @click="editNoteConfirm(te,te.title,te.content)" v-if="te.default == false"><i class="ion-android-checkmark-circle"></i></button>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase-database.js"></script>
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
  <script src="main.js"></script>
</body>
</html>
