@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

body{
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f5f5f5;

}

header{
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #fff;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.095);
  padding: 8px 16px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #e51c23;
}

aside{
  background-color: #fff;
  width: 250px;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  z-index: 81;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

aside h2{
  font-weight: 300;
  color: #afafaf;
}

.aside-search{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #d01716;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: 'Roboto', open-sans;
  color: #fff;
}

.aside-search::-webkit-input-placeholder{
  color: #fff!important;
}

.header-search{
  outline: none;
  border: 0;
  background-color: #d01716;
  font-size: 18px;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  line-height: 35px;
  color: #fff;
  float: right;
  margin-top: 8px;
}

.header-search-logo{
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 23px;
  right: 30px;
}

header>button{
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  font-size: 30px;
  outline: none;
  color: #9f9f9f;
  cursor: pointer;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  margin-top: 9px;
  color: #fff;
}

header>button:active{
  background-color: rgba(0,0,0,.1);
}

.slide-transition{
  transition: all .3s cubic-bezier(.65, .05, .36, 1);
}

.slide-enter{
  left: -100%;
}

.slide-leave{
  left: -100%;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Создание заметки @@@@@@@@@@@@@@@@@@@@@@@@*/
.note-create{
  width: 50%;
  margin: auto;
  margin-top: 100px;
  text-align: left;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 60px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 3px;
  position: relative;
  padding-bottom: 100px;
}

.note-create h1{
  ffont-family: 'Roboto',sans-serif;
  font-size: 26px;
  color: #bdbdbd;
  margin-top: 30px;
  font-weight: 400;
}

.note-create input{
  outline: none;
  border: 0px;
  border-bottom: 3px solid #cdcdcd;
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: inherit;
  color: #bdbdbd;
  transition: .5s;
}

.note-create input:focus{
  border-bottom: 3px solid #d01716;
  font-size: 20px;
  transition: .5s;
  color: #000;
}

.note-create>button{
  margin: auto;
  margin-top: 50px;
  background-color: #d01716;
  border: 0;
  outline: none;
  font-family: 'Roboto',sans-serif;
  font-size: 22px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  padding-top: 3px;
  position: absolute;
  bottom: 15px;
  right: 35px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: .2s;
}

.note-create>button:hover{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: .2s;
}

.note-create>button>i{
  font-size: 30px;
  color: #fff;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Созданные заметки@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.note-wrap{
  position: relative;
  background-color: #fff;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 40px;
  border-radius: 3px;
  padding-left: 40px;
  padding-right: 40px;
}

.note-wrap:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.note-title{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: inline-block;
}

.delete{
  position: absolute;
  right: 40px;
  top: 35px;
  width: 40px;
  height: 40px;
  border: 0;
  outline: none;
  background-color: #ff6e40;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-top: 2px;
  cursor: pointer;
}

.edit{
  position: absolute;
  right: 90px;
  top: 35px;
  width: 40px;
  height: 40px;
  border: 0;
  outline: none;
  background-color: #ff6e40;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  padding-top: 3px;
}

.editConfirm{
  position: absolute;
  right: 35px;
  bottom: 10px;
  width: 55px;
  height: 55px;
  padding-top: 5px;
  border: 0;
  outline: none;
  background-color: #d01716;
  color: #fff;
  font-size: 26px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}

.editTitle{
  border: 0;
  outline: none;
  width: 100%;
  border-bottom: 3px dashed #d01716;
  margin-bottom: 60px;
  margin-top: 80px;
  font-size: 22px;
  font-family: 'Roboto', open-sans;
  line-height: 40px;
}

.editContent{
  display: block;
  border: 0;
  outline: none;
  resize: none;
  width: 100%;
  height: 100px;
  background-color: #e9e9e9;
  font-family: 'Roboto', open-sans;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}

.note-content{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.note-wrap>hr{
  outline: none;
  border: 1px solid #bdbdbd;
}
